<h3>Current version:</h3>

<a href="itms-services://?action=download-manifest&url=https://bitbucket.org/ts1999/starfish-dist/raw/master/manifest_2016-04-10.plist">Default</a>
<br />

<hr />

<h3>Alternative versions</h3>
<a href="itms-services://?action=download-manifest&url=https://bitbucket.org/ts1999/starfish-dist/raw/master/manifest_2016-05-16_hillclimb-dark.plist">2016-05-16_hillclimb-dark.ipa (Hill Climbing, Black background)</a>


<h3>Previous versions</h3>

<a href="itms-services://?action=download-manifest&url=https://bitbucket.org/ts1999/starfish-dist/raw/master/manifest_2016-04-27.plist">2016-04-27_lpc_app.ipa (Black background)</a>
<br />
<a href="itms-services://?action=download-manifest&url=https://bitbucket.org/ts1999/starfish-dist/raw/master/manifest_2016-04-10.plist">2016-04-10_lpc_app.ipa</a>
<br />
